body {
    color: white;
}

h1 {
    color: dimgray;
    font-size:40px;
}

p {
    color: black;
}

ul {
    color: black;
    max-width: 450px;
}

h2 {
    color: black;
}

p:hover {
    background-color: red;
}

p.reference {
    font-family: "Courier New";
}